/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* common shared styles start */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* common shared styles end */

/* nav section style start */
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    max-width: 80%;
    min-height: 13vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    width: 60px;
}

.nav-logo h2 {
    font-size: 2rem;
    font-weight: 700;
}

.nav-logo h2 .g {
    color: #FF42A5;
}

.nav-menus ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
}

li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 0.8rem;
    font-weight: 500;
}

.nav-menu {
    display: flex;
    align-items: center;
    padding: 1vh 1.5vw;
    padding-right: 0.5vw;
    color: #3C354F;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    min-width: 12vw;
    min-height: 5vh;
    gap: 10px;

}

.fa-brands {
    font-size: 20px;
}

/* nav section style end */


/* bannersection style start */
.banner-section {
    max-width: 80%;
    margin: auto;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.banner-contant h3 {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-contant h1 {
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 10px;
}

.banner-contant ul {
    list-style: none;
    padding-bottom: 10px;
}

.banner-contant ul li {
    padding-bottom: 10px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn-one {
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    padding: 2.5vh 3vw;
    border: none;
    text-transform: uppercase;
    border-radius: 48px;
    background-color: #FF42A5;
}

.btn-two {
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    padding: 2.5vh 2vw;
    border: none;
    text-transform: uppercase;
    border-radius: 48px;
    background-color: #4EC5F7;
}

.banner-img {
    width: 40vw;
}

/* bannersection style end */


/* online games section style start */
.online-game-section {
    max-width: 80%;
    margin: auto;
}

.online-game-contant {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.online-game-contant h1 {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
}

.online-game-contant p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 10px;
}

.funny-videos {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.online-game-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.online-game-card-img {
    width: 19vw;
}

.online-game-card-desc {
    color: #534C64;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 20px;
    padding-top: 10px;
}

/* online games section style end */

/* play instently section style start */
.play-instantly-section {
    max-width: 80%;
    margin: 50px auto 30px;
}

.play-instantly-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.play-inatantly-conatant {
    width: 25%;
    margin: auto;
    text-align: right;
    padding-right: 120px;
}

.play-inatantly-conatant h2 {
    font-size: 2rem;
    font-weight: 700;
}

.play-istantly {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.play-inatantly-conatant p {
    color: #534C64;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
}

.play-instantly-img {
    position: relative;

}

.play-instantly-img-one {
    width: 30vw;

}

.play-instantly-img-two {
    position: absolute;
    width: 15vw;
    left: -80px;
    top: 230px;
}

/* play instently section style end */

/* game type section style start */
.game-type-section {
    max-width: 80%;
    margin: auto;
}

.game-type-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.game-type button {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid #FFF;
    padding: 5px 5px;
    border-radius: 70px;
    background-color: #FFF;
}

.game-type button:hover {
    border: 2px solid #FF42A5;
    color: #FF42A5;
}

.game-type img {
    width: 35px;
}

.game-type button {
    color: #0B0223;
    font-size: 0.8rem;
    font-weight: 600;
}


/* game type section style end */







/* media quaary style for 576px start */
@media screen and (max-width: 576px) {

    /* nav media quary style for 576px start */
    .nav-container {
        flex-direction: column;
        max-width: 95%;
    }

    .nav-logo {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .nav-menu {
        padding: 1.2vh 2.5vw;
    }

    .nav-menus ul {
        flex-direction: column;
        padding-bottom: 20px;
    }

    /* nav media quary style for 576px end */

    /* bannersection style for 576px start */
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-contant {
        padding-top: 30px;
    }

    .banner-img {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
    }

    /* bannersection style for 576px end */

    /* online games section style for 576px start */
    .online-game-cards-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .online-game-card-img {
        width: 100%;
        padding-top: 50px;
    }

    /* online games section style for 576px end */

    /* play instently section style for 576px start */
    .play-instantly-container {
        flex-direction: column;
    }

    .play-inatantly-conatant {
        width: 100%;
        text-align: center;
        padding-right: 0px;
        padding-bottom: 20px;
    }

    .play-instantly-img-one {
        width: 80%;
        padding-left: 50px;

    }

    .play-instantly-img-two {
        width: 15vw;
        left: 20px;
        top: 230px;
    }

    .play-instantly-img-two {
        position: absolute;
        width: 30vw;
        left: -15px;
        top: 180px;
    }

    /* play instently section style for 576px end */

    /* game type section style for 576ox start */
    .game-type-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1px;
    }

    .game-type button {
        gap: 3px;
        padding: 2px 3px;
    }

    .game-type img {
        width: 20px;
    }

    .game-type button {
        font-size: 0.6rem;
    }

    /* game type section style for 576ox end */




}


/* media quaary style for 576px end */








/* media quaary style for 576px-992px start */
@media screen and (min-width: 576px) and (max-width: 992px) {

    /* nav media quary style for 576px-992px start */
    .nav-container {
        flex-direction: column;
        max-width: 95%;
    }

    .nav-logo {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .nav-menu {
        padding: 1.2vh 2.5vw;
    }

    .nav-menus ul {
        padding-bottom: 20px;
        gap: 50px;
    }

    /* nav media quary style for 576px-992px end */

    /* bannersection style for 576px-992px start */
    .banner-container {
        flex-direction: column;
    }

    .banner-contant {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }

    .buttons {
        justify-content: center;
    }

    .banner-img {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
    }

    /* bannersection style for 576px-992px end */

    /* online games section style for 576px-992px start */
    .online-game-cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .online-game-card-img {
        width: 100%;
    }

    /* online games section style for 576px-992px end */

    /* play instently section style for 576px-992px start */
    .play-instantly-container {
        flex-direction: column-reverse;
    }

    .play-inatantly-conatant {
        width: 100%;
        text-align: center;
        padding-right: 0px;
        padding-top: 80px;
    }

    .play-instantly-img-one {
        width: 80%;
        padding-left: 50px;

    }

    .play-instantly-img-two {
        width: 15vw;
        left: 20px;
        top: 230px;
    }

    .play-instantly-img-two {
        position: absolute;
        width: 30vw;
        left: -25px;
        top: 300px;
    }

    /* play instently section style for 576px-992px end */

    /* game type section style for 576ox-992px start */



    /* game type section style for 576ox-992px end */






}

/* media quaary style for 576px-992px end */